<mat-card class="card mat-elevation-z8">
  <mat-card-content>
    <mat-table mat-table [dataSource]="dataSource">
      <!-- Destination Column -->
      <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef>{{'RESULTS.DESTINATION' | translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
      </ng-container>

      <!-- Departure Column -->
      <ng-container matColumnDef="departureDate">
        <mat-header-cell *matHeaderCellDef>{{'RESULTS.DEPARTURE_DATE' | translate}}</mat-header-cell>
        <td mat-cell *matCellDef="let element"> {{element.departureDate}} </td>
      </ng-container>

      <!-- Return Column -->
      <ng-container matColumnDef="returnDate">
        <th mat-header-cell *matHeaderCellDef>{{'RESULTS.RETURN_DATE' | translate}}</th>
        <td mat-cell *matCellDef="let element"> {{element.returnDate}} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> {{'RESULTS.PRICE' | translate: currencyTranslate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.price.total}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of flights"></mat-paginator>
  </mat-card-content>
</mat-card>
