<mat-card class="card mat-elevation-z8">
  <mat-card-content>
    <mat-table [dataSource]="dataSource">
      <!-- Destination Column -->
      <ng-container matColumnDef="destination">
        <mat-header-cell *matHeaderCellDef>{{'RESULTS.DESTINATION' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.destination}} </mat-cell>
      </ng-container>

      <!-- Departure Column -->
      <ng-container matColumnDef="departureDate">
        <mat-header-cell *matHeaderCellDef>{{'RESULTS.DEPARTURE_DATE' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.departureDate}} </mat-cell>
      </ng-container>

      <!-- Return Column -->
      <ng-container matColumnDef="returnDate">
        <mat-header-cell *matHeaderCellDef>{{'RESULTS.RETURN_DATE' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.returnDate}} </mat-cell>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> {{'RESULTS.PRICE' | translate: currencyTranslate}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price.total}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of flights"></mat-paginator>
  </mat-card-content>
</mat-card>
