.card {
  width: 54em;
  border-radius: 0.7em;
}

table {
  align-content: center;
}

td, th {
  width: 35%;
}

.th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-top: 15px;
}
