
<mat-card class="card mat-elevation-z5" [formGroup]="formGroup" (ngSubmit)="searchInspirationFlights()" autocomplete="off">
  <!-- <mat-card-title>{{ 'SEARCHER.TITLE' | translate}}</mat-card-title> -->
  <mat-card-content>
    <div class="content">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'SEARCHER.ORIGIN' | translate}}</mat-label>
        <input matInput type="text" formControlName="origin" [matAutocomplete]="autoAirport"
        [placeholder]="'SEARCHER.ORIGIN' | translate" attr.aria-label="'SEARCHER.ORIGIN' | translate}}" required="true">
        <mat-autocomplete #autoAirport="matAutocomplete" [displayWith]="displayValue">
          <mat-option *ngFor="let airport of airports$ | async" [value]="airport">
            {{airport.name}} ( {{airport.iata}} )
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix matTooltip="{{'SEARCHER.ORIGIN_TOOLTIP' | translate}}">help_outline</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{'SEARCHER.DEPARTURE_DATE' | translate}}</mat-label>
        <mat-date-range-input formGroupName="departureDate" [rangePicker]="departureDatPicker" [dateFilter]="rangeFilter">
          <input matStartDate formControlName="departureStart" [placeholder]="'DEPARTURE_DATE.START' | translate">
          <input matEndDate formControlName="departureEnd" [placeholder]="'DEPARTURE_DATE.END' | translate">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="departureDatPicker"></mat-datepicker-toggle>
        <mat-date-range-picker #departureDatPicker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'SEARCHER.MAX_PRICE' | translate}}</mat-label>
      <input matInput type="text" formControlName="maxPrice" misOnlyDigits>
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
        <mat-label>{{ 'SEARCHER.VIEW_BY' | translate}}</mat-label>
        <mat-select formControlName="viewBy" attr.aria-label="{{ 'SEARCHER.VIEW_BY' | translate}}"
          [placeholder]="'SEARCHER.VIEW_BY' | translate">
          <mat-option *ngFor="let view of viewBy" [value]="view">
            {{view}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
    <div class="content">
      <mat-checkbox formControlName="oneWay">{{'SEARCHER.ONE_WAY' | translate}}</mat-checkbox>
      <mat-checkbox formControlName="nonStop">{{'SEARCHER.NON_STOP' | translate}}</mat-checkbox>
      <mat-label>{{ 'SEARCHER.DURATION' | translate}}
        <button mat-icon-button>
          <mat-icon matSuffix matTooltip="{{'SEARCHER.DURATION_TOOLTIP' | translate}}">help_outline</mat-icon>
        </button>
      </mat-label>
      <lib-ngx-mat-range-slider [min]="1" [max]="15" (output)="setValuesDuration($event)">
      </lib-ngx-mat-range-slider>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <!-- [disabled]="!formGroup.valid" -->
    <button mat-raised-button (click)="searchInspirationFlights()" color="primary">
      {{'SEARCHER.SEARCH_BUTTON' | translate}}
      <mat-icon>airplane_ticket</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
